extends layout

block content
  h1 Create Your Card Here
  form(method="POST" action="/card")
    label(for="firstName") First:
    input(type="text" name="firstName" id="firstName" value="John")

    label(for="lastName") Last:
    input(type="text" name="lastName" id="lastName" value="Doe")

    label(for="type") Type
    select(name="type" id="type")
      option(value = "Bronze") Bronze
      option(value = "Standard") Standard
      option(value = "Premium") Premium

    label(for="dateOfBirth") DOB
    input(type="date" name="dateOfBirth" id="dateOfBirth")

    label(for="addressLine1") Address Line 1:
    input(type="text" name="addressLine1" id="addressLine1" value="123 Main Street")

    label(for="addressLine2") Address Line 2:
    input(type="text" name="addressLine2" id="addressLine2" value="4252 Bulldog Ave")

    label(for="city") City:
    input(type="text" name="city" id="city" value="San Francisco")

    label(for="state") State:
    select(name="state" id="state")
      option(value = "CA") CA
      option(value = "NV") NV
      option(value = "WA") WA

    label(for="zip") Zip Code:
    input(type="text" name="zip" id="zip" value="94253")

    label(for="policy") Insurance Policy Began:
    input(type="date" name="policy" id="policy")

    button(type="submit" action="post") Create My Card